*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

header {
  background-color: #7d6854;
  padding-top: 4rem;
  width:100vw;
  font-family: 'Cambria';
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  word-spacing: 1rem;
  text-align: center;
}

nav a{
  color: white;
  text-decoration: none;
  margin: auto;
  font-weight: bold;
  font-family: 'Cambria';
}

main{
    background-color: #7d6854;
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
}



.box-img {
  height: 25vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name {
  color: white;
  font-family: "Cambria";
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

#designation{
  color: white;
  font-family: "Cambria";
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.resume-box{
  width: 100vw;
  height: 30rem;
  justify-items: center;
  align-content: center;
  margin-bottom: 1rem;
}

.resume-bg{
  position: relative;
  display:flex ;
  flex-direction: column;
  width: 27rem;
  height: 25rem;
  background-color: #ad9c8c;
  align-items: center;
  border-radius: 3rem;
  box-shadow: 2px 2px 5px rgba(5, 5, 3, 0.6);
}

#resume-ss{
  border-radius: 3rem;
  margin-top: 1rem;
}

#link{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  margin-bottom: 0.5rem;
}

