@import url('https://fonts.googleapis.com/css2?family=Winky+Rough&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

*{
    /* box-sizing: border-box; */
    margin: 0%;
    padding: 0%;
}

header {
  background-color: #7d6854;
  padding-top: 4rem;
  width:100vw;
  font-family: 'Cambria';
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  word-spacing: 1rem;
  text-align: center;
}

nav a{
  color: white;
  text-decoration: none;
  margin: auto;
  font-weight: bold;
  font-family: 'Cambria';
}


main{
    background-color: #7d6854;
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#project{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding : 0 2rem;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 45%;
  font-family: 'Cambria';
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: #fdfbfb;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 2rem;
  color: #f5f5f5;
}


h1{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  margin-bottom: 0.5rem;
  text-align: center;
}

h2{
  font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
#project.reverse {
  flex-direction: row-reverse;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
}
